{% extends "base.html" %}

{% block content %}
<main>
  <div class="container mt-3">

    <div class="row">
      <div class="col text-center">
        <p class="h2 p-2 bg-success w-50 mx-auto rounded text-white">
          拾得物詳細
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="bg-light p-2 border">
          拾得物詳細画面では，一覧画面で選択した行の拾得物について，
          詳細情報の表示と現在に至るまでの管理状況の変更について確認が可能です．
          管理状況を変更する場合には，対応者と状態を入力し，変更を選択してください．
          また，一覧画面に戻る場合は，戻るを選択してください．
        </p>
      </div>
    </div>

    <div class="row mt-3">

      <!-- 左：拾得物情報 -->
      <div class="col-md-6">
        <table class="table table-success table-bordered">
          <tr>
            <th>大分類</th>
            <td>{{ d.大分類 }}</td>
          </tr>
          <tr>
            <th>物品名</th>
            <td>{{ d.物品名 }}</td>
          </tr>
          <tr>
            <th>拾得場所</th>
            <td>{{ d.拾得場所 }}</td>
          </tr>
          <tr>
            <th>色</th>
            <td>{{ d.色 }}</td>
          </tr>
          <tr>
            <th>特徴</th>
            <td>{{ d.特徴 }}</td>
          </tr>
          <tr>
            <th>画像</th>
            <td>
              {% if d.画像 %}
                <img src="{{ d.画像 }}" class="img-fluid rounded">
              {% endif %}
            </td>
          </tr>
        </table>
      </div>

      <!-- 右：履歴 -->
      <div class="col-md-6">
        <table class="table table-success table-bordered">
          <tr>
            <th>日時</th>
            <th>状態</th>
            <th>対応者</th>
          </tr>

          {% for h in history %}
          <tr>
            <td>{{ h.日時 }}</td>
            <td>{{ h.状態 }}</td>
            <td>{{ h.対応者 }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>

    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <a href="/item_list" class="btn btn-success">戻る</a>
      </div>
    </div>

  </div>
</main>
{% endblock %}
