{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-3 mb-1">
            <div class="col">
                <p class="h2 p-1  bg-success w-50 rounded text-center text-white">遺失物捜索一覧</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bg-light p-1 border m-0">遺失物捜索一覧画面では，出されている遺失物捜索依頼の情報を一覧形式で確認することが可能となります．</p>
                <hr>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <span id="rrequests">検索結果：{{n}}件</span>
                <table class="table table-success table-striped">
                    <tr><th>ID</th><th>ユーザID</th><th>拾得物分類ID</th><th>紛失場所</th><th>色</th><th>特徴</th><th>依頼日時</th></tr>
                    {% for i in j %}
                    <tr><td>{{i.ID}}</td><td>{{i.ユーザID}}</td><td>{{i.拾得物分類ID}}</td><td>{{i.紛失場所}}</td><td>{{i.色}}</td><td>{{i.特徴}}</td><td>{{i.依頼日時}}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}