{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-3 mb-1">
            <div class="col">
                <p class="h2 p-1  bg-success w-50 rounded text-center text-white">遺失物捜索登録</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bg-light p-1 border m-0">遺失物捜索依頼画面では，文教大学湘南キャンパスで何か物を無くした際に，その情報を登録するための画面です．遺失物依頼を出すことで，当該の品物が拾得物として登録された際には，本人に連絡が行くようになります．</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col mt-1">
                <p>ここに拡張用の機能を実装してください</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}