{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-3 mb-1">
            <div class="col">
                <p class="h2 p-1  bg-success w-50 rounded text-center text-white">遺失物捜索登録</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="bg-light p-1 border m-0">遺失物捜索依頼画面では，文教大学湘南キャンパスで何か物を無くした際に，その情報を登録するための画面です．遺失物依頼を出すことで，当該の品物が拾得物として登録された際には，本人に連絡が行くようになります．</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col mt-1">
                    <form>
        <table class="table table-success">
            <tr>
                <th>拾得物分類ID</th>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <th>紛失場所</th>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <th>色</th>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <th>特徴</th>
                <td>
                    <textarea class="form-control" rows="4"></textarea>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-success">
                登録
            </button>
        </div>
    </form>
</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}